@import url(http://fonts.googleapis.com/css?family=Exo);

h1 {
  font-family: Exo;
  text-align: center;
}

h2 {
  font-family: Exo;
  text-align: center;
}

p {
  font-family: Exo;
  text-align: center;
}
